@font-face {
  font-family: myFont;
  src: url(./font/beon-webfont.woff);
}

body {
  padding: 0;
  margin: auto;
  color: whitesmoke;
  font-family: myFont;
  background-color: black;
}

.login {
  padding-top: 50px;
  text-align: center;
  color: whitesmoke;
}

.registration {
  text-align: center;
  color: whitesmoke;
}

.denied-login {
  text-align: center;
  color: darkorange;
}

.button-menu {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.button {
  font-family: myFont;
  background-color: darkslategrey;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.Atlas {
  text-align: center;
}

.buffer {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

#world {
  background-color: black;
  outline: darkorange 1px solid;
  background-image: url(./Images/Stars1.jpg);
  background-size: 800px 600px;
  }

.metrics {
  user-select: none;
  padding-top: 10px;
  margin: auto;
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.scoreboardTable {
  padding: 0;
  margin: auto;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  color: whitesmoke;
}

.scoreboardTableHeaderRow {
  color: darkorange;
  font-weight: bold;
  height: 50px;
}

.scoreboardTableBodyRow:nth-child(odd){background-color: rgba(128, 128, 128, 0.050);}

#latestUserScore {
  background-color: crimson;
}

.scoreboardTableBodyRow:hover{
  background-color: darkorange;
}

#latestUserScore {
  background-color: crimson;
}

.scoreboardTable tr td {
  height: 25px;
}

span {
  color: whitesmoke;
  margin-right: 25px;
}

.title-logo {
  text-align: center;
  /* vertical-align: middle; */
}

.corner-logo {
  margin-left: 95%;
  margin-top: auto;
}